*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
image{
    width: 100%;
}
.sectionImg{
    width: 100%;
}
form{
    width: 60%;
}
form>p{
    font-size: 30px;
    font-weight: 600;
}
footer{
    background-color: darkgrey;
    color: black;
}
.footer{
    height: 100px;
    width: 500px;
}